<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!--CSS link-->
  <link rel="stylesheet" href="./resources/style.css" type="text/css">
  <!--VUE-->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>Senators</title>
</head>

<body>
  <!--navigation-->
  <nav class="navbar navbar-expand-md navbar-fixed-top navbar-light">
    <div class="container">
      <ul class="navbar-nav custom-center">
        <li class="nav-item">
          <a class="nav-link" href="./home.html">Home</a>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Congress 116</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item active" href="./congress116-senate.html">Senate <span
                class="sr-only">(current)</span></a>
            <a class="dropdown-item" href="./congress116-house.html">House</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Attendance</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="./attendance-senate.html">Senate</a>
            <a class="dropdown-item" href="./attendance-house.html">House</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Party Loyalty</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="./partyloyalty-senate.html">Senate</a>
            <a class="dropdown-item" href="./partyloyalty-house.html">House</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <!--information regarding Senators-->
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Senators</h2>
        <p>First convened in 1789, the composition and powers of the Senate are established in Article One of the U.S.
          Constitution. Each state is represented by two senators, regardless of population, who serve staggered
          six-year
          terms. The Senate has several exclusive powers not granted to the House, including consenting to treaties as a
          precondition to their ratification and consenting to or confirming appointments of Cabinet secretaries,
          federal
          judges, other federal executive officials, military officers, regulatory officials, ambassadors, and other
          federal
          uniformed officers, as well as trial of federal officials impeached by the House.
        </p>
      </div>
    </div>
  </div>
  <!--table of Senators-->
  <div class="container">
    <div class="row">
      <div class="col">
        <div id="app-1">
          <!--filters-->
          <div id="filters">
            <input class="form-control" id="searchBar" type="text" placeholder="Senator searcher"
              @keyup="searchName($event)"> <!-- DOM event keyup, searchName(event) JS-->
            <div class="state-filter">
              <select @change="setState($event)">
                <!--DOM event change, setState(event) JS-->
                <option value="none">All States</option>
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="DC">District Of Columbia</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NV">Nevada</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WA">Washington</option>
                <option value="WV">West Virginia</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
                <option value="AS">American Samoa</option>
                <option value="GU">Guam</option>
                <option value="MP">Northern Mariana Islands</option>
                <option value="PR">Puerto Rico</option>
                <option value="UM">United States Minor Outlying Islands</option>
                <option value="VI">Virgin Islands</option>
              </select>
            </div>
            <div id="checkboxFilter">
              <div class="form-check form-check-inline">
                <input class="form-check-input" name="representing" type="checkbox" id="R" value="R"
                  @change="filter('party', 'R');">
                <!--DOM event change, filter(column, value) JS-->
                <label class="form-check-label" for="R">Republican</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" name="representing" type="checkbox" id="D" value="D"
                  @change="filter('party', 'D');">
                <!--DOM event change, filter(column, value) JS-->
                <label class="form-check-label" for="D">Democrat</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" name="representing" type="checkbox" id="ID" value="ID"
                  @change="filter('party', 'ID');">
                <!--DOM event change, filter(column, value) JS-->
                <label class="form-check-label" for="ID">Independent</label>
              </div>
            </div>
          </div>
          <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-hover table-striped" id="myTable">
              <thead>
                <tr>
                  <th @click="sort('last_name')">Senator</th>
                  <th @click="sort('party')">Party</th>
                  <th @click="sort('state')">State</th>
                  <th @click="sort('seniority')">Seniority</th>
                  <th @click="sort('votes_with_party_pct')">Party Votes</th>
                </tr>
              </thead>
              <tbody id="informationSenate">
                <tr v-for="item in sortedItems">
                  <td><a v-bind:href="item.url">{{ item.last_name}}, {{item.first_name }}</a></td>
                  <td v-if="item.party === 'R'">Republican</td>
                  <td v-else-if="item.party === 'D'">Democrat</td>
                  <!--Senate independent = 'ID' where House = 'I'-->
                  <td v-else-if="item.party === 'ID'">Independent</td>
                  <td>{{ item.state }}</td>
                  <td>{{ item.seniority }}</td>
                  <td>{{ item.votes_with_party_pct }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--jQuery first, then Popper.js, then Bootstrap JS-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <!--API table script-->
  <script src="./js/senate.js"></script>
</body>
<footer></footer>

</html>